body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #FCFBFA;
    color: #333;
}

input {
    font-size: 14px;
    outline: none;
    border: 1px solid #ccc;
    padding: 5px;
}

input:focus {
    border: 1px solid #0074D9;
}

a {
    text-decoration: none;
    color: #0074D9;
}

.btn {
    font-size: 16px;
    background: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
}

.btn:disabled {
    background: #ccc;
}

.breadcrumbs {
    background-color: #202224;
    padding: 10px;
    color: #fff;
}

.error {
    background-color: #C34444;
    color: #fff;
    border: 1px solid #AD0D0D;
    padding: 5px;
    margin-bottom: 10px;
}