body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #FCFBFA;
    color: #333;
}

input {
    font-size: 14px;
    outline: none;
    border: 1px solid #ccc;
    padding: 5px;
}

input:focus {
    border: 1px solid #0074D9;
}

a {
    text-decoration: none;
    color: #0074D9;
}

.btn {
    background: #0074D9;
    color: #fff;
    border: none;
    padding: 03px;
    margin-left: 5px;
    border-radius: 2px;
}